.DS_Store
*.apk
*.booproj
*.csproj
*.csproj.user
*.mdb
*.mdb.meta
*.orig
*.otron
*.otron.meta
*.otron2
*.otron2.meta
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.unitypackage
*.unityproj
*.userprefs
[Mm]ockups*
/.vs/
/.vscode/
/[Aa]ssets/[Aa]sset[Ss]tore[Tt]ools/
/[Bb]ackup/
/[Bb]uild/
/[Bb]uilds/
/[Dd]ata/
/[Ll]ibrary/
/[Ll]ocal_cache/
/[Ll]ogs/
/[Oo]bj/
/[Pp]ackages/
/[Ss]creenshots/
/[Ss]ettings/
/[Tt]emp/
/[Tt]mp/
/[Uu]ser[Ss]ettings/
